.App {
  text-align: center;
  background-color: #FAEBD7;
  color: #000000;
}

.form {
  background-color: #FAEBD7;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  margin: 5px;
  padding: 3px;
  background-color: #ff4400;
  border-radius: 5px;
}

.moMoney:hover{
  color:pink;
}

.noMoney:hover{
  color:yellow;
}

.bye:hover{
  color:purple;
}


.like:hover{
  color:blue;
}

.active{
  border: 2px solid black;
}